.boundaryBox  {
    display: flex;
}

#headerBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#headerLinks {
    display: flex;
}

#firstBox {
    background-color: #1F2937;
}

.headerBox div {
    flex: 1 1 0;
}

#logo {
    flex: 0 0 auto;
}

.headerLink {
    flex: 1;
}

