body {
    font-family: 'Roboto', sans-serif;
}

#headerBox, #secondBoxContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    box-shadow: border-box;
}

#firstBoxContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    gap: 20px;
}

#headerLinks {
    display: flex;
}

#firstBox {
    background-color: #1F2937;
    width: 100%;
    /* padding: 50px; */
    box-sizing: border-box;
}

#logo {
    color: #F9FAF8;
    font-size: 18px;
    font-family: 'Roboto';
    flex: 0 0 auto;
    /* padding: 50px; */
}

.headerLink {
    color: #e5e7eb;
    font-size: 18px;
    padding: 20px;
    font-family: 'Roboto';
}

#headerLeftContentBox .content, .header {
    color: #e5e7eb;
}

.header {
    font-size: 48px;
    font-weight: 900;
}

#headerLeftContentBox,
#headerRightContentBox {
    width: 50%;
    /* flex: 0 0 auto; */
    flex: 1;
    box-sizing: border-box;
    /* padding: 50px; */
}

#headerRightContentBox {
    color: #e5e7eb;
    padding: 50px;
    margin: auto;
    text-align: center;
    background-color: lightslategray;
}

.signUp {
    background-color: #3882f6;
    color: #e5e7eb;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: none;
}

.signUp:active {
    transform: translateY(1px);
}

#secondBoxHeader {
    text-align: center;
    margin: auto;
    padding-bottom: 25px;
    font-size: 36px;
    font-weight: 900;
}

.roundedEdgeBox {
    color: #3882f6;
    height: 50px;
    width: 50px;
    border: 2px #3882f6;
}

.roundedEdgeBox {
    width: 150px; /* Set the width of the box */
    height: 150px; /* Set the height of the box */
    border: 2px solid blue; /* Set the border color and thickness */
    border-radius: 10px; /* Set the border radius for rounded edges */
    background-color: white; /* Optional: set a background color */
    flex: 1 0 auto;
}

.subBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    /* padding: 25px; */
}

#secondBoxContent {
    max-width: 100vh;
    justify-content: space-around;
    margin: 0 auto;
    gap: 20px;
}

.boundaryBox {
    padding: 8vh;
}

#thirdBox {
    background-color: #e5e7eb;
    font-size: 36px;
}

#quote {
    color: #1F2937;
    font-style: italic;
    font-weight: 200;
}

#quoteContributor {
    text-align: right;
    font-size: 24px;
}

#thirdBoxContent {
    margin: 0 auto;
    max-width: 100vh;
}

#fourthBoxContent {
    display: flex;
    background-color: #3882f6;
    border-radius: 5px 5px 5px 5px;
    margin: 0 auto;
    max-width: 110vh;
    padding: 2em;
}

#fourthBoxLeft {
    color: #f9faf8;
    flex: 1 1 auto;
    align-items: center;
}

#fourthBoxRight {
    flex: 1 0 auto;
    align-items: center;
}

#bottom-button {
    border-color: #f9faf8;
    padding: 10px 15px;
}

#footerBox {
    background-color: #1F2937;
    align-items: center;
    text-align: center;
    color: #f9faf8;
    height: 50px; 
    box-sizing: border-box;
    padding: 15px;
}