#headerBox, #secondBoxContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    box-shadow: border-box;
}

#firstBoxContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    gap: 20px;
}

#headerLinks {
    display: flex;
}

#firstBox {
    background-color: #1F2937;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

#logo {
    color: #F9FAF8;
    font-size: 18px;
    font-family: 'Roboto';
    flex: 0 0 auto;
    /* padding: 50px; */
}

.headerLink {
    color: #e5e7eb;
    font-size: 18px;
    padding: 20px;
    font-family: 'Roboto';
}

#headerLeftContentBox .content, .header {
    color: #e5e7eb;
}

.header {
    font-size: 48px;
    font-weight: 900;
}

#headerLeftContentBox,
#headerRightContentBox {
    width: 50%;
    /* flex: 0 0 auto; */
    flex: 1;
    box-sizing: border-box;
    /* padding: 50px; */
}

#headerRightContentBox {
    color: #e5e7eb;
    padding: 50px;
    margin: auto;
    text-align: center;
    background-color: lightslategray;
}

.button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px 5px 5px 5px;
}

#secondBoxHeader {
    text-align: center;
    margin: auto;
    font-size: 36px;
    font-weight: 900;
}

.roundedEdgeBox {
    color: #3882f6;
    height: 50px;
    width: 50px;
    border: 2px #3882f6;
}

.roundedEdgeBox {
    width: 150px; /* Set the width of the box */
    height: 150px; /* Set the height of the box */
    border: 2px solid blue; /* Set the border color and thickness */
    border-radius: 10px; /* Set the border radius for rounded edges */
    background-color: white; /* Optional: set a background color */
    flex: 1 0 auto;
}

.subBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
}

#secondBoxContent {
    max-width: 80vh;
    margin: 0 auto;
}